<!DOCTYPE html>
<html lang="en-US"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="UTF-8">
  <title>
          Web Controller
      </title>
  <meta http-equiv="x-ua-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#456BD9">
  <meta name="msapplication-config" content="/browserconfig.xml">
  <meta name="onesignal" content="wordpress-plugin">
          <link rel="manifest" href="#">

<link rel="stylesheet" id="toolkit-css" href="static/almond_download/main.css" type="text/css" media="all">



</head>

  <body>

    <main role="main" id="main">

              <div class="Sky">
          <div class="u-containSpread">
              <div class="u-pad1 u-flex u-flexWrap u-flexAlignItemsBaseline">
    <h1 class="u-textGrow5 u-sm-textGrow6 u-spaceRight1">
              NutsBoard WoT Controller
          </h1>
  </div>
          </div>
        </div>

    <hr class="u-spaceEnds1 u-spaceBottom2">

    <div class="Grid Grid--withGutter">
              <article class="Grid-cell u-spaceEnds01 u-spaceBottom1 u-sm-size1of2 u-md-size1of3">
          <a href="/gpio" class="u-linkBlock u-textInheritColor">
            <div class="Thumbnail u-block u-pullSides1 u-sm-spaceSidesNone u-sm-borderRadius">
                                            <img class="u-sizeFull" src="static/almond_download/mearm.png" alt="" sizes="(max-width: 29.9375em) 100vw,
                                            (max-width: 47.9375em), 50vw">
                          </div>
          </a>
        </article>
              <article class="Grid-cell u-spaceEnds01 u-spaceBottom1 u-sm-size1of2 u-md-size1of3">
          <a href="#" class="u-linkBlock u-textInheritColor">
            <div class="Thumbnail u-block u-pullSides1 u-sm-spaceSidesNone u-sm-borderRadius">
                                            <img class="u-sizeFull" src="static/almond_download/realtime.png" alt="" sizes="(max-width: 29.9375em) 100vw,
                                            (max-width: 47.9375em), 50vw">
                          </div>
          </a>
        </article>
          </div>
  </div>
      </div>

    </main>

<script type="text/javascript" src="static/almond_download/main.js"></script>

</body></html>
